@use "mixins";

.w31-reading {
	line-height: var(--lineheight);
	margin: 1rem 2rem;
	font-size: var(--fontsize);
	color: var(--posttextcolor);
	font-family: var(--fontfamily);

	p {
		margin: var(--paragraphspacing) 0px;
	}

	.notice {
		background: var(--buttonface);
		color: var(--buttontext);
		padding: 1rem;
		margin: 1.25rem 0px;

		span {
			font-weight: bold;
		}
	}

	@include mixins.mobile {
		margin: 1rem 1rem;
	}

	.w31-categories {
		line-height: 2.5rem;
	}

	.w31-continue-reading {
		text-align: right;
	}

	h1, h2, h3, h4, h5, h6 {
		font-family: var(--font-heading);
		color: var(--windowtext);
	}
	h1 { font-size: 2.2rem; line-height: 2.7rem; }
	h2 { font-size: 2rem; line-height: 2.5rem; }
	h3 { font-size: 1.8rem; line-height: 2.3rem; }
	h4 { font-size: 1.6rem; line-height: 2.1rem; }
	h5 { font-size: 1.4rem; line-height: 1.9rem; }
	h6 { font-size: 1.2rem; line-height: 1.7rem; }

	figure.wp-block-image, div.wp-block-image figure {
		border: 1px solid var(--windowframe);
		background-color: var(--activeborder);
		padding: 4px;
		max-width: 48rem;
		margin: auto;
		position: relative;

		&.alignright {
			margin: 0px 0px 2rem 2rem;
		}
		&.alignleft {
			margin: 0px 2rem 2rem 0px;
		}
		&.alignright, &.alignleft {
			@include mixins.mobile {
				float: none;
				margin: auto;
			}
		}

		&.video::after {
			content: "âµ";
			position: absolute;
			top: 50%;
			left: 50%;
			text-align: center;
			width: 5rem;
			background-color: var(--buttonface);
			transform: translate(-50%,-50%);
			font-family: var(--font-system);
			font-size: 4rem;
			color: var(--buttontext);
			border-top: 2px solid var(--buttonhighlight);
			border-left: 2px solid var(--buttonhighlight);
			border-right: 2px solid var(--buttonshadow);
			border-bottom: 2px solid var(--buttonshadow);
			outline: 1px solid var(--windowframe);
			cursor: pointer;
			line-height: 5rem;
			pointer-events: none;
		}
	
		> a {
			display: block;
			border: 1px solid var(--windowframe);
			background-color: black;
			text-align: center;
		}
	
		figcaption {
			border-left: 1px solid var(--windowframe);
			border-right: 1px solid var(--windowframe);
			border-bottom: 1px solid var(--windowframe);
			background-color: var(--applicationworkspace);
			margin: 0px;
			padding: 12px 2rem 10px 2rem;
			font-size: 1rem;
			line-height: 1rem;
			font-family: var(--font-system);
			text-align: center;
			color: var(--windowtext);
			position: relative;
	
			&:after {
				content: "";
				position: absolute;
				left: 1rem;
				top: 4px;
				bottom: 4px;
				right: 1rem;
				background: transparent;
				border-top: 1px solid var(--buttonshadow);
				border-left: 1px solid var(--buttonshadow);
				border-right: 1px solid var(--buttonhighlight);
				border-bottom: 1px solid var(--buttonhighlight);
			}
		}
	}
}

.w31-window.maximized .w31-reading {
	margin: auto;
	padding: 0px 2rem;
	max-width: var(--linelengthmax);
}